* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

form input {
    padding: 15px;
}

button {
    background-color: rgb(125, 194, 125);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}